root { 
    display: block;
}

#footer p {
    -moz-box-sizing: content-box !important;
    font-size: 85%;
    margin: 0;
}

form{ 
    /*
    padding-right: 0;
    padding-top: 25px;
    */
}

#content-inner{
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

a.btn, a.btn:link, a.btn:visited {
    color: #FFFFFF;
    /*font-weight:bold;*/
}

#login {
    background: none;
    padding: 0px;
}

#logo{
    height:300px;
    background:inherit;
}

#menu{
    background:none;    
}

#menu li{
    text-align:right;
}

#menu a{
    font-size: 100%;    
}

#main-page{    
    width:1024px;
    background: #FFFFFF url(../images/logo.png) repeat-y;
}

#content {
    width: 784px;
}

#sidebar{
    /*background:url(../images/logo.png);*/
    min-height:1024px;
    height:auto;
    border:solid black 1px;
}

#footer{
    width:1024px;
    height:80px;
}

.my-page-heading{
    background-image: url(../images/pageTitle.png);
    background-repeat: repeat-x;
    border:solid 1px black;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
    font-weight:bold;
    font-size: 16pt;
}
/*************************************************************************************************************************/
/* Table Css Start */
table.dataTable tr.odd {
    background-color: #82ca9c !important;
}

table.dataTable tr.odd td.sorting_1 {
    background-color: #82ca9c !important;
}

table.dataTable tr.even td.sorting_1 {
    background-color: #3cb878 !important;
}

table.dataTable {
    border: solid 2px #3cb878;
}

.paging_full_numbers{
    margin-top:10px;
}

.paging_full_numbers a.paginate_active{
    background-color: #3cb878 !important;
}
/* Table Css End */
/*************************************************************************************************************************/
.btn-success{
    background-image: linear-gradient(to bottom, #82ca9c 0px, #419641 100%);
}
/*************************************************************************************************************************/
/* Gallery Start */
#gallery{
    width:530px;
}

#thumbs{

}
/* Gallery End */
/*************************************************************************************************************************/